h1, h2, h3, h4, p {
  font-family: 'Helvetica Nueue', sans-serif;
}

.title {
  font-weight: 400;
  font-size: 40px;
}

.authors {
  font-size: 20px;
}

.smallcaps {
  font-variant: small-caps;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  font-size: 24px; /* Icon size */
  color: #333; /* Icon color */
  text-decoration: none;
  margin: 0 15px; /* Spacing between buttons */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for color and background */
  padding: 10px 20px; /* Padding inside the button */
  border: 1px solid transparent; /* Button border */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center the text icon */
  display: inline-block; /* Necessary for the width to wrap content */
  opacity: .8;
}

.icon-button:hover, .icon-button:focus {
  color: #fff; /* Text color on hover/focus */
  background-color: #3fc15d; /* Background color on hover/focus */
  border-color: #3fc15d; /* Border color on hover/focus */
  text-decoration: none; /* No underline on hover/focus */
}

.icon-button i {
  margin-bottom: 4px; /* Space between icon and text */
  display: block; /* Ensures that the icon is above the text */
}

/* You can customize the hover color for each button based on brand */
.icon-button.github:hover, .icon-button.github:focus {
  background-color: #aa8bd9;
  border-color: #aa8bd9;
}

.icon-button.youtube:hover, .icon-button.youtube:focus {
  background-color: #ff6f6f;
  border-color: #ff6f6f;
}

.icon-button.arxiv:hover, .icon-button.arxiv:focus {
  background-color: #ecad4f;
  border-color: #ecad4f;
}

/* Responsive text size */
@media (max-width: 768px) {
  .icon-button {
    font-size: 20px;
  }
}